{{ define "main" }}
<div id="body" class="about">
	<div class="header">
		<div>
			<h1>Hello!</h1>
			<p>
				I'm Vasilii Pustovoit, currently navigating the vast and fascinating field of astrophysics. 
				PhD Candidate at Canadian Institute of Theoretical Astrophysics (CITA),
				based at the University of Toronto (UofT).
			</p>
			<p>
				My supervisors are: 
				Dick Bond,
				Norm Murray,
				Chris Thompson.
			</p>
		</div>
	</div>
	<div class="body">
		<div>
			<img src="{{ "images/resized/Gas_sim1.png" | relURL }}" alt="">
			<h2>My Research</h2>
			<p>
				I primarily focus on high-redshift
				simulations, using the GIZMO code to explore the
				early Universe, particularly the formation of
				Population III stars and intermediate-mass black holes.
				We are hoping in the near future to obtain Initial
				Mass Function (IMF) for Pop III stars from simulations
				of hydrodynamics with accretion in the early Universe.
				These simulations are essential for understanding the
				fabric of our cosmos in its infancy. 
			</p>
		</div>
	</div>
	<div class="footer">
		<div>
			<img src="{{ "images/resized/Desktop.png" | relURL }}" alt="">
			<h2>Programming</h2>
			<p>
				In addition to my astrophysics projects, I do a lot of coding.
				I frequently develop software tools to support my research,
				employing languages like C, Bash, Lua and Python to solve
				complex problems or analyze data. My preference for
				operating systems has historically been Arch,
				but recently I became very fond of NixOS.
			</p>
		</div>
	</div>
	<div class="body">
		<div>
			<img src="{{ "images/resized/TI4_small.png" | relURL }}" alt="">
			<h2>Other passions</h2>
			<p>
				I'm also a big fan of extreme metal, which provides a creative outlet
				away from the numerical world. Additionally, board
				games are cool (anyone interested in a quick game of Twilight Imperium?)
			</p>
		</div>
	</div>
	<div class="footer">
		<div>
			<img src="{{ "images/resized/slav_squat_small.png" | relURL }}" alt="">
			<p>
			Thank you for visiting my website. I hope to share insights from my journey through astrophysics and beyond.
			</p>
		</div>
	</div>
</div>
{{ end }}
